{require_otp_vsn, "R15|R16|17"}.

{recursive_cmds, [eunit, compile]}.
{sub_dirs, ["rel"]}.
{erl_opts, [debug_info, {d, debug}]}.
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.

{edoc_opts, [
    {new, true},
    {image, ""},
    {stylesheet, ""},
    {doclet, edown_doclet},
    {source_path, ["src"]},
    {app_default, "http://www.erlang.org/doc/man"},
    {top_level_readme, {"./README.md", "http://github.com/erlangninja/majordomo"}}
]}.

{deps, [
    {ezmq, "0.1", {git, "git://github.com/zeromq/ezmq.git", {branch, "master"}}}
]}.
