{release, {majordomo, "0.1.0"}, [majordomo]}.
{extended_start_script, true}.
{sys_config, "etc/sys.config"}.
{vm_args, "etc/vm.args"}.
{include_erts, true}.
{include_src, false}.
{add_providers, [rlx_prv_cmd]}.
{rlx_prv_cmd, [
    "fpm -s dir -t deb -n {{ release_name }} -v {{ release_version }} .=/opt/{{ release_name }}",
    "git tag --force v{{ release_version }}",
    "git push --force --tags",
    "sh -c 'github-release -q delete -u ErlangNinja -r {{ release_name }} -t v{{ release_version }} || true'",
    "github-release release -u ErlangNinja -r {{ release_name }} -t v{{ release_version }}",
    "github-release upload -u ErlangNinja -r {{ release_name }} -t v{{ release_version }} -n {{ release_name }}-{{ release_version }}.tar.gz -f {{ release_name }}-{{ release_version }}.tar.gz",
    "github-release upload -u ErlangNinja -r {{ release_name }} -t v{{ release_version }} -n {{ release_name }}_{{ release_version }}_amd64.deb -f {{ release_name }}_{{ release_version }}_amd64.deb"
]}.
