[
    {kernel, [
        {start_timer, true},
        {inet_default_listen_options, [{nodelay, true}, {sndbuf, 32768}, {recbuf, 32768}]},
        {inet_default_connect_options, [{delay_send, true}]}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},
        {error_logger_mf_maxbytes, 10485760},
        {error_logger_mf_maxfiles, 5},
        {utc_log, true}
    ]},
    {lager, [
        {colored, true},
        {handlers, [
            {lager_console_backend, [info, {lager_default_formatter, [color, time, " {", {module, "?"}, ":", {line, "?"}, "} ", pid, " [", severity, "] ", message, "\n"]}]}
        ]},
        {crash_log, "log/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},
    {majordomo_broker, [
        {port, 5555}
    ]}
].
